# Ignore virtual environment
venv/
ENV/
env/
.venv/

# Byte-compiled / optimized / DLL files
*.pyc
*.pyo
*.pyd
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Logs and database files
*.log
*.sql
*.sqlite

# Unit test / coverage reports
.coverage
*.cover
*.py,cover
.hypothesis/
.tox/
.nox/
coverage.xml
*.coveragerc
.cache
nosetests.xml
coverage/

# Jupyter Notebook
.ipynb_checkpoints

# PyInstaller
# Usually these files are written by a python script from a template
*.manifest
*.spec

# Django stuff:
*.mo
*.pot
*.log
*.db
media/
staticfiles/

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# Pyenv
.python-version

# celery
celerybeat-schedule
celerybeat.pid

# Environments
.env
*.env
.env.*
*.env.*

# IDEs and Editors
.idea/
.vscode/
*.swp
*.swo
*.swn
*.orig

# MacOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Test results
.junit/

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyright
pyrightconfig.json

# Backup files
*~
*.bak
